body {
  margin: 0 auto;
  text-align: center;
}

ul {
}

li{
    list-style-type: none;
    display: inline;
    padding: 30px;
}

li img {
  max-height: 250px;
  max-width: 250px;
  vertical-align:middle;
}
